<li>
	{{burger_name}}

	<button class="change-eaten" data-name="{{burger_name}}" data-id="{{id}}" data-eaten="{{devoured}}">
		{{#if devoured}}Yum!{{else}}Must eat!{{/if}}
	</button>

	{{!-- <button class="delete" data-id="{{this.id}}">DELETE!</button> --}}
</li>
